extends layout.pug


block content
    form.form(action="/subscribe", method="post") 
        input(type="text", name="firstName", placeholder="Prénom").input-text
        input(type="text", name="lastName", placeholder="Nom").input-text  
        input(type="text", name="email", placeholder="Email").input-text
        input(type="password", name='password', placeholder="Mot de passe").input-text
        input(type="submit", value="S'inscrire").input-submit
    
    script(src=process.env.BROWSER_REFRESH_URL)